/* CSS for Basic-Portfolio */
	/*CSS for index.html */

body {
	width: 960px;
	background-color: lightblue;
}

a {
	text-decoration: none;
	color: #777777;
}

header {
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	font-size: 28px;
	color: #ffffff;
	text-align: center;
  	background-color: #4aaaa5;
  	padding: 20px;
  	width: 200px;
}

nav {
	position: absolute;
	width: 720px;
	height: 72px;
	top: 0px;
	left: 249px;
	right: 0px;
	bottom: 0px;
	margin-left: 0px;
	background-color: white;
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #777777;
	text-align: right;
	padding: 0px;
}

#Contact {
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	color: 7777777;
	background-color: #ffffff;
}

#Portfolio {
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	color: #777777;
	background-color: #ffffff;
}

#About {
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	color: #777777;
	background-color: #ffffff;
}

#About-Me {
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	font-size: 28px;
	padding-top: 20px;
	padding-left: 10px;
	color: #777777;
	background-color: white; 
}

.Bio {
	padding: 5px;
}

#Profile-Picture {
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

#article {
	clear: both;
	overflow: auto;
	width: 650px;
	background-color: white;
	color: #777777;
	margin-top: 20px;

}

#connect {
	width: 270px;
	height: 150px;
}

#Github {
	width: 50px;
	height: 50px;
}

#LinkedIn {
	width: 50px;
	height: 50px;
}

#Stack {
	width: 50px;
	height: 50px;
}

footer {
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #777777;
	text-align: center;
  	padding: 20px;
  	background-color: #666666;
  	border-top: 10px;
  	border-top-color: #dddddd;
}